*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vscode/settings.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/appInsightsSettings.xml
/.idea/deviceManager.xmls
/.idea/codeStyles/Project.xml
/.idea/studiobot.xml
/.vscode/
